/*HOME*/

.text-1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* semibold */
    font-size: 40px;
}

.text-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* medium */
    font-size: 20px; 
    color: #6F6767;
}

.row-md {
    display: flex;
    align-items: center;
}
  
.col-img {
    flex: 1;
    text-align: center;
}
  
.col-text {
    flex: 1;
    text-align: left;
}

.btn-start{
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    background-color: #0010FF;
    color: #FBF3F3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* semibold */
    font-size: 20px; 
    width: 202px;
    height: 56px;
}

.btn-start:hover {
    background-color: #5064CC; 
    color: #FBF3F3; 
}



/*SIGN IN Y SIGN UP*/

.align-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.form-control {
    border: none !important;
}


.btn-SignIn{
   background-color:#0010FF !important;
    color: #FBF3F3 !important;
    font-size: 16px;
    height: 52px;
    width: 391px;

}

.btn-primary{
   background-color:#0010FF !important;
    color: #FBF3F3 !important;
    font-size: 16px;
    height: 40px;
    width: 100px;

}
.btn-primary:hover {
    background-color: #5064CC;
    color: #FBF3F3;
}

.btn-forgotPass{
    font-size: 16px;
    height: 10px;
    width: 390px;
    color: rgb(8,8,8);
    text-align: right !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* semibold */;
}

.btn-nowSignUp{
    background-color:#0010FF !important;
    color: #FBF3F3 !important;
    font-size: 16px;
    height: 52px;
    width: 391px;
}


.form-group {
    display: flex;
    align-items: center;
  }
.upload-box {
  margin: 40px 0;
}
