<!DOCTYPE html>
<html>
<head>
    <title>Archivos subidos</title>
</head>
<body>
    <h1>Archivos subidos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Contenido</th>
            </tr>
        </thead>
        <tbody>
            {% for archivo in archivos %}
                <tr>
                    <td>{{ archivo.nombre }}</td>
                    <td>{{ archivo.archivo_serializado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
