{% extends 'base.html' %}
{% load static %}
{% block title %}
Mis Archivos
{% endblock %}

{% block content %}
<!-- Aquí va el contenido específico de la página de contacto -->
    <head>
    <style>
		th, td {
			text-align: center;
            font-family: 'Montserrat', sans-serif;
		}

	</style>

</head>
<body>
     <div class="table-responsive">
    <table class="table">


		<thead>

			<tr>
				<th>ID</th>
				<th>Fecha</th>
				<th>Número de archivos</th>
				<th>Fecha de expiración</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.date }}</td>
					<td>{{ item.numberFiles }}</td>
					<td>{{ item.expirationDate }}</td>
                    <td><a href="{% url 'batch_details' id_batch=item.ID_Batch %}" > <img src="{% static 'assets/img/folder.png' %}" width="30px"/></a>
                        <a href='{{item.Link}}' > <img src="{% static 'assets/img/downloads.png' %} " width="30px"/></a></td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
     </div>
    </body>
{% endblock %}