{% extends 'base.html' %}

{% block title %}
Mis Archivos
{% endblock %}

{% block content %}
<!-- Aquí va el contenido específico de la página de contacto -->
    <head>
	<style>
		th, td {
			padding: 8px;
			text-align: center;
		}
        table{
            margin:auto;
        }
        h1{
            font-family: 'Montserrat', sans-serif;
        }
	</style>
</head>
<body>
    <table>


		<thead>

			<tr>
				<th>ID</th>
				<th>Fecha</th>
				<th>Número de archivos</th>
				<th>Fecha de expiración</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.date }}</td>
					<td>{{ item.numberFiles }}</td>
					<td>{{ item.expirationDate }}</td>
                    <td><a href="{% url 'batch_details' id_batch=item.ID_Batch %}" class="btn btn-primary">Detalles</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </body>
{% endblock %}